include AUTHORS
include COPYING
include ChangeLog
include INSTALL
include NEWS
include README
include *.h
recursive-include examples *.py
include examples/data/*.jpg
include python-gammu.spec
include debian/changelog
include debian/compat
include debian/control
include debian/copyright
include debian/rules
include debian/*.docs
include debian/*.doc-base
include debian/*.examples
