[po4a_langs] cs de es fr id it pl ru zh_CN af bg ca el et fi gl he hu ko nl pt_BR sk sv zh_TW
[po4a_paths] locale/docs.pot $lang:locale/$lang/docs.po
[type: man] docs/user/gammu.1 $lang:docs/user/$lang/gammu.1
[type: man] docs/user/gammurc.5 $lang:docs/user/$lang/gammurc.5
[type: man] docs/user/gammu-smsdrc.5 $lang:docs/user/$lang/gammu-smsdrc.5
[type: man] docs/user/gammu-smsd.1 $lang:docs/user/$lang/gammu-smsd.1
[type: man] docs/user/gammu-smsd-inject.1 $lang:docs/user/$lang/gammu-smsd-inject.1
[type: man] docs/user/jadmaker.1 $lang:docs/user/$lang/jadmaker.1
[type: man] docs/user/gammu-config.1 $lang:docs/user/$lang/gammu-config.1
[type: man] docs/user/gammu-smsd-files.7 $lang:docs/user/$lang/gammu-smsd-files.7
[type: man] docs/user/gammu-smsd-mysql.7 $lang:docs/user/$lang/gammu-smsd-mysql.7
[type: man] docs/user/gammu-smsd-pgsql.7 $lang:docs/user/$lang/gammu-smsd-pgsql.7
