[po4a_langs] cs de es fr id it pl ru zh_CN af bg ca el et fi gl he hu ko nl pt_BR sk sv zh_TW da sw en_GB tr ar uk ro bn
[po4a_paths] locale/manual.pot $lang:locale/$lang/manual.po
[type: asciidoc] docs/manual/config/index.rst $lang:docs/manual-$lang/config/index.rst
[type: asciidoc] docs/manual/protocol/n6110.rst $lang:docs/manual-$lang/protocol/n6110.rst
[type: asciidoc] docs/manual/protocol/samsung.rst $lang:docs/manual-$lang/protocol/samsung.rst
[type: asciidoc] docs/manual/protocol/m-obex.rst $lang:docs/manual-$lang/protocol/m-obex.rst
[type: asciidoc] docs/manual/protocol/carkit.rst $lang:docs/manual-$lang/protocol/carkit.rst
[type: asciidoc] docs/manual/protocol/n7110.rst $lang:docs/manual-$lang/protocol/n7110.rst
[type: asciidoc] docs/manual/protocol/nokia.rst $lang:docs/manual-$lang/protocol/nokia.rst
[type: asciidoc] docs/manual/protocol/index.rst $lang:docs/manual-$lang/protocol/index.rst
[type: asciidoc] docs/manual/protocol/samsung-gt.rst $lang:docs/manual-$lang/protocol/samsung-gt.rst
[type: asciidoc] docs/manual/protocol/nokia-s40-sms.rst $lang:docs/manual-$lang/protocol/nokia-s40-sms.rst
[type: asciidoc] docs/manual/protocol/sonim.rst $lang:docs/manual-$lang/protocol/sonim.rst
[type: asciidoc] docs/manual/protocol/n6510.rst $lang:docs/manual-$lang/protocol/n6510.rst
[type: asciidoc] docs/manual/protocol/tdma_5120.rst $lang:docs/manual-$lang/protocol/tdma_5120.rst
[type: asciidoc] docs/manual/protocol/discovering.rst $lang:docs/manual-$lang/protocol/discovering.rst
[type: asciidoc] docs/manual/smsd/dbi.rst $lang:docs/manual-$lang/smsd/dbi.rst
[type: asciidoc] docs/manual/smsd/backends.rst $lang:docs/manual-$lang/smsd/backends.rst
[type: asciidoc] docs/manual/smsd/sql.rst $lang:docs/manual-$lang/smsd/sql.rst
[type: asciidoc] docs/manual/smsd/files.rst $lang:docs/manual-$lang/smsd/files.rst
[type: asciidoc] docs/manual/smsd/index.rst $lang:docs/manual-$lang/smsd/index.rst
[type: asciidoc] docs/manual/smsd/usage.rst $lang:docs/manual-$lang/smsd/usage.rst
[type: asciidoc] docs/manual/smsd/tables.rst $lang:docs/manual-$lang/smsd/tables.rst
[type: asciidoc] docs/manual/smsd/pgsql.rst $lang:docs/manual-$lang/smsd/pgsql.rst
[type: asciidoc] docs/manual/smsd/null.rst $lang:docs/manual-$lang/smsd/null.rst
[type: asciidoc] docs/manual/smsd/run.rst $lang:docs/manual-$lang/smsd/run.rst
[type: asciidoc] docs/manual/smsd/config.rst $lang:docs/manual-$lang/smsd/config.rst
[type: asciidoc] docs/manual/smsd/overview.rst $lang:docs/manual-$lang/smsd/overview.rst
[type: asciidoc] docs/manual/smsd/manual.rst $lang:docs/manual-$lang/smsd/manual.rst
[type: asciidoc] docs/manual/smsd/inject.rst $lang:docs/manual-$lang/smsd/inject.rst
[type: asciidoc] docs/manual/smsd/mysql.rst $lang:docs/manual-$lang/smsd/mysql.rst
[type: asciidoc] docs/manual/smsd/code.rst $lang:docs/manual-$lang/smsd/code.rst
[type: asciidoc] docs/manual/smsd/monitor.rst $lang:docs/manual-$lang/smsd/monitor.rst
[type: asciidoc] docs/manual/smsd/smsd.rst $lang:docs/manual-$lang/smsd/smsd.rst
[type: asciidoc] docs/manual/gammu/index.rst $lang:docs/manual-$lang/gammu/index.rst
[type: asciidoc] docs/manual/project/documentation.rst $lang:docs/manual-$lang/project/documentation.rst
[type: asciidoc] docs/manual/project/versioning.rst $lang:docs/manual-$lang/project/versioning.rst
[type: asciidoc] docs/manual/project/directories.rst $lang:docs/manual-$lang/project/directories.rst
[type: asciidoc] docs/manual/project/about.rst $lang:docs/manual-$lang/project/about.rst
[type: asciidoc] docs/manual/project/index.rst $lang:docs/manual-$lang/project/index.rst
[type: asciidoc] docs/manual/project/contributing.rst $lang:docs/manual-$lang/project/contributing.rst
[type: asciidoc] docs/manual/project/testing.rst $lang:docs/manual-$lang/project/testing.rst
[type: asciidoc] docs/manual/project/coding-style.rst $lang:docs/manual-$lang/project/coding-style.rst
[type: asciidoc] docs/manual/project/install.rst $lang:docs/manual-$lang/project/install.rst
[type: asciidoc] docs/manual/project/motivation.rst $lang:docs/manual-$lang/project/motivation.rst
[type: asciidoc] docs/manual/project/localization.rst $lang:docs/manual-$lang/project/localization.rst
[type: asciidoc] docs/manual/glossary.rst $lang:docs/manual-$lang/glossary.rst
[type: asciidoc] docs/manual/index.rst $lang:docs/manual-$lang/index.rst
[type: asciidoc] docs/manual/testing/index.rst $lang:docs/manual-$lang/testing/index.rst
[type: asciidoc] docs/manual/testing/dummy-driver.rst $lang:docs/manual-$lang/testing/dummy-driver.rst
[type: asciidoc] docs/manual/testing/testsuite.rst $lang:docs/manual-$lang/testing/testsuite.rst
[type: asciidoc] docs/manual/contents.rst $lang:docs/manual-$lang/contents.rst
[type: asciidoc] docs/manual/python/objects.rst $lang:docs/manual-$lang/python/objects.rst
[type: asciidoc] docs/manual/python/examples.rst $lang:docs/manual-$lang/python/examples.rst
[type: asciidoc] docs/manual/python/data.rst $lang:docs/manual-$lang/python/data.rst
[type: asciidoc] docs/manual/python/index.rst $lang:docs/manual-$lang/python/index.rst
[type: asciidoc] docs/manual/python/exceptions.rst $lang:docs/manual-$lang/python/exceptions.rst
[type: asciidoc] docs/manual/python/worker.rst $lang:docs/manual-$lang/python/worker.rst
[type: asciidoc] docs/manual/python/gammu.rst $lang:docs/manual-$lang/python/gammu.rst
[type: asciidoc] docs/manual/python/smsd.rst $lang:docs/manual-$lang/python/smsd.rst
[type: asciidoc] docs/manual/internal/reply.rst $lang:docs/manual-$lang/internal/reply.rst
[type: asciidoc] docs/manual/internal/index.rst $lang:docs/manual-$lang/internal/index.rst
[type: asciidoc] docs/manual/internal/state-machine.rst $lang:docs/manual-$lang/internal/state-machine.rst
[type: asciidoc] docs/manual/formats/smsbackup.rst $lang:docs/manual-$lang/formats/smsbackup.rst
[type: asciidoc] docs/manual/formats/backup.rst $lang:docs/manual-$lang/formats/backup.rst
[type: asciidoc] docs/manual/formats/index.rst $lang:docs/manual-$lang/formats/index.rst
[type: asciidoc] docs/manual/formats/ini.rst $lang:docs/manual-$lang/formats/ini.rst
[type: asciidoc] docs/manual/c/call.rst $lang:docs/manual-$lang/c/call.rst
[type: asciidoc] docs/manual/c/examples.rst $lang:docs/manual-$lang/c/examples.rst
[type: asciidoc] docs/manual/c/bitmap.rst $lang:docs/manual-$lang/c/bitmap.rst
[type: asciidoc] docs/manual/c/security.rst $lang:docs/manual-$lang/c/security.rst
[type: asciidoc] docs/manual/c/backup.rst $lang:docs/manual-$lang/c/backup.rst
[type: asciidoc] docs/manual/c/misc.rst $lang:docs/manual-$lang/c/misc.rst
[type: asciidoc] docs/manual/c/wap.rst $lang:docs/manual-$lang/c/wap.rst
[type: asciidoc] docs/manual/c/nokia.rst $lang:docs/manual-$lang/c/nokia.rst
[type: asciidoc] docs/manual/c/datetime.rst $lang:docs/manual-$lang/c/datetime.rst
[type: asciidoc] docs/manual/c/calendar.rst $lang:docs/manual-$lang/c/calendar.rst
[type: asciidoc] docs/manual/c/porting.rst $lang:docs/manual-$lang/c/porting.rst
[type: asciidoc] docs/manual/c/index.rst $lang:docs/manual-$lang/c/index.rst
[type: asciidoc] docs/manual/c/info.rst $lang:docs/manual-$lang/c/info.rst
[type: asciidoc] docs/manual/c/category.rst $lang:docs/manual-$lang/c/category.rst
[type: asciidoc] docs/manual/c/api.rst $lang:docs/manual-$lang/c/api.rst
[type: asciidoc] docs/manual/c/keys.rst $lang:docs/manual-$lang/c/keys.rst
[type: asciidoc] docs/manual/c/types.rst $lang:docs/manual-$lang/c/types.rst
[type: asciidoc] docs/manual/c/hints.rst $lang:docs/manual-$lang/c/hints.rst
[type: asciidoc] docs/manual/c/debug.rst $lang:docs/manual-$lang/c/debug.rst
[type: asciidoc] docs/manual/c/error.rst $lang:docs/manual-$lang/c/error.rst
[type: asciidoc] docs/manual/c/unicode.rst $lang:docs/manual-$lang/c/unicode.rst
[type: asciidoc] docs/manual/c/message.rst $lang:docs/manual-$lang/c/message.rst
[type: asciidoc] docs/manual/c/file.rst $lang:docs/manual-$lang/c/file.rst
[type: asciidoc] docs/manual/c/inifile.rst $lang:docs/manual-$lang/c/inifile.rst
[type: asciidoc] docs/manual/c/limits.rst $lang:docs/manual-$lang/c/limits.rst
[type: asciidoc] docs/manual/c/memory.rst $lang:docs/manual-$lang/c/memory.rst
[type: asciidoc] docs/manual/c/callback.rst $lang:docs/manual-$lang/c/callback.rst
[type: asciidoc] docs/manual/c/smsd.rst $lang:docs/manual-$lang/c/smsd.rst
[type: asciidoc] docs/manual/c/statemachine.rst $lang:docs/manual-$lang/c/statemachine.rst
[type: asciidoc] docs/manual/c/ringtone.rst $lang:docs/manual-$lang/c/ringtone.rst
[type: asciidoc] docs/manual/c/settings.rst $lang:docs/manual-$lang/c/settings.rst
[type: asciidoc] docs/manual/utils/index.rst $lang:docs/manual-$lang/utils/index.rst
[type: asciidoc] docs/manual/utils/gammu-config.rst $lang:docs/manual-$lang/utils/gammu-config.rst
[type: asciidoc] docs/manual/utils/jadmaker.rst $lang:docs/manual-$lang/utils/jadmaker.rst
[type: asciidoc] docs/manual/utils/gammu-detect.rst $lang:docs/manual-$lang/utils/gammu-detect.rst
