[po4a_langs] cs de es id it pl ru
[po4a_paths] locale/docs.pot $lang:locale/$lang/docs.po
[type: man] docs/user/gammurc.5 $lang:docs/user/gammurc.$lang.5
[type: man] docs/user/gammu-smsdrc.5 $lang:docs/user/gammu-smsdrc.$lang.5
[type: man] docs/user/gammu-smsd.1 $lang:docs/user/gammu-smsd.$lang.1
[type: man] docs/user/gammu-smsd-inject.1 $lang:docs/user/gammu-smsd-inject.$lang.1
[type: man] docs/user/jadmaker.1 $lang:docs/user/jadmaker.$lang.1
[type: man] docs/user/gammu-config.1 $lang:docs/user/gammu-config.$lang.1
