Source: python-gammu
Section: python
Priority: optional
Maintainer: Michal Čihař <michal@cihar.com>
Build-Depends: debhelper (>= 4.0.0), python, python2.4-dev, python2.3-dev, libgammu-dev (>= 1.05.00), python-epydoc, pkg-config
Standards-Version: 3.7.2.0

Package: python-gammu
Architecture: all
Depends: python2.3-gammu (>= ${Source-Version})
Suggests: python-gammu-doc (>= ${Source-Version})
Description: Python module to communicate with mobile phones
 This provides gammu module, that can work with any phone Gammu
 supports - many Nokias, Siemens, Alcatel, ...
 .
 This package is an empty dummy package that always depends on
 a package built for Debian's default Python version.
 .
  Homepage: http://cihar.com/gammu/python

Package: python2.3-gammu
Architecture: any
Depends: ${shlibs:Depends}, ${python:Depends}, ${misc:Depends}
Description: Python module to communicate with mobile phones
 This provides gammu module, that can work with any phone Gammu
 supports - many Nokias, Siemens, Alcatel, ...
 .
 This package is built for Python 2.3.
 .
  Homepage: http://cihar.com/gammu/python

Package: python2.4-gammu
Architecture: any
Depends: ${shlibs:Depends}, ${python:Depends}, ${misc:Depends}
Description: Python module to communicate with mobile phones
 This provides gammu module, that can work with any phone Gammu
 supports - many Nokias, Siemens, Alcatel, ...
 .
 This package is built for Python 2.4.
 .
  Homepage: http://cihar.com/gammu/python

Package: python-gammu-doc
Architecture: all
Depends: ${shlibs:Depends}, ${python:Depends}, ${misc:Depends}, python-gammu (>= ${Source-Version})
Description: Documentation for Python module to communicate with mobile phones
 This provides gammu module, that can work with any phone Gammu
 supports - many Nokias, Siemens, Alcatel, ...
 .
 This package contains documentation and examples.
 .
  Homepage: http://cihar.com/gammu/python

